src/main/mule/implementation_accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b17164de-e996-44f5-8804-469afeaa5a17" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccounts" doc:id="7c152529-c751-4128-a298-6e633c07c7f7" >
		<db:select doc:name="Select" doc:id="536ac1b4-0667-494f-8c91-03857a7c93fc" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM flights_customers
WHERE accountType = :acctType]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'acctType' : (message.attributes.queryParams['type'] as String default "personal") }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="FormatAsJson" doc:id="acfcf8f8-fcae-4907-891e-9e74175056e1" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID,
	firstName: ((payload01.name default "<1stName>") splitBy(' '))[0],
	lastName: ((payload01.name default "<2ndName>") splitBy(' '))[1],
	address: ((payload01.street default "<street>") ++ ", " ++ (payload01.city default "<city>") ++ ", " ++ (payload01.state default "<state>")),
	postal: payload01.postal default "<postal>",
	country: payload01.country default "<country>",
	miles: payload01.miles default -1,
	creationDate: (payload01.creationDate as DateTime default "<dt>"),
	"type": payload01.accountType default "<type>"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postAccounts" doc:id="e8d41703-e9a1-402d-b633-d410ee175575" >
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="c99353b1-89e1-4a9e-b986-6f1c3ac8ff20" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Accounts *virtually* created (but not really)"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getAccountsID" doc:id="840ad7e1-00d3-4b1e-bee2-7f783a80e154" >
		<ee:transform doc:name="setVariable_ID" doc:id="a78d4d5b-6dea-434e-9838-ca33fe37ac52" >
			<ee:variables >
				<ee:set-variable variableName="ID" ><![CDATA[(attributes.uriParams.'ID' as String default "<id>")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="3ef24232-44f6-469d-a1cb-aa0eee75d921" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM flights_customers
WHERE accountID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{ 'ID' : vars.ID }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="FormatAsJson_COPY" doc:id="8cfafcab-c6c3-4bf1-8ee8-1d9dcc7d9a1f" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID,
	firstName: ((payload01.name default "<1stName>") splitBy(' '))[0],
	lastName: ((payload01.name default "<2ndName>") splitBy(' '))[1],
	address: ((payload01.street default "<street>") ++ ", " ++ (payload01.city default "<city>") ++ ", " ++ (payload01.state default "<state>")),
	postal: payload01.postal default "<postal>",
	country: payload01.country default "<country>",
	miles: payload01.miles default -1,
	creationDate: (payload01.creationDate as DateTime default "<dt>"),
	"type": payload01.accountType default "<type>"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="SCRATCH" doc:id="27417ad4-9290-44f4-84f5-2821b67e3f9f" >
		<ee:transform doc:name="MockData_SingleRecord" doc:id="1cf2eff6-bf21-453a-a49f-4f783d76f8bd" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.ID,
  firstName: "Harry",
  lastName: "Hearmon",
  address: "30 E Huron St, Chicago, Illinois",
  postal: "60611",
  country: "USA",
  miles: 999,
  creationDate: "2004-06-22T04:34:41.098Z",
  "type": "personal"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
